* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


body {
  background-color: #09090a;
  color: white;
  height: 100vh;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 48px
}

button {
  padding: 16px 26px;
  background-color: transparent;
  color: white;
  border: 1px solid #8b5cf6;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

#form-habits {
  display: flex;
  padding: 200px 42px 42px;
  width: fit-content;
}

.days {
  display: flex;
  gap: 48px;
  margin-left: 32px;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.day div{
  margin-bottom: 8px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: #a1a1aa;
  text-align: center;
  font-weight: 700;
}

.habits{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.habit{
  width: 64px;
  height: 64px;
  font-size: 32px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
}
input {
  appearance: none; /*Tira a apacerencia default*/
  -webkit-appearance: none;

  width: 64px;
  height: 64px;
  border: 2px solid #27272a;
  border-radius: 8px;
  background-color: #18181b;
}

input:checked {
  background-color: #8b5cf6;
  border: 2px solid #a78bfa;
}

@media (max-width: 768px) {
  #restoBotao{
    display: none;
  }
}
